@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
header{
    background-image: url(../img/back3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.logo{
    max-width: 120px;
    max-height: 120px;
}
.a-nav{
    padding-right: 220px;
}
.a-nav a{
    padding-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 24px;
}
.a-nav a:hover{
    color: rgb(36, 207, 190);
    transition-duration: 0.5s;
}
.slang{
    text-align: right;
    /* max-width: 840px; */
    padding-top: 20px;
    justify-content: flex-end;
}
.slang-title{
    font-size: 82px;
    font-weight: 600;
    color: white;
    padding-right: 220px;
    padding-bottom: 80px;
}
.slang-title:hover{
    color: rgb(36, 207, 190);
    transition-duration: 0.5s;
}
.history{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.history-mini{
    max-width: 70%;
    margin-left: 220px;
    text-align: center;
}
.history-mini h2{
    font-size: 56px;
    font-weight: 600;
    padding-bottom: 25px;
}
.history-mini p{
    text-align: justify;
    font-size: 20px;
}
.h2-quentions{
    font-size: 38px; 
}
.h3-order{
    font-size: 20px;
}
.order-section{
    background-color: rgb(218, 59, 218);
}
.order-phone{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 165px;
}
.order-quentions{
    align-self: flex-start;
    padding-left: 50px;   
}
.order-quentions input{
    margin-bottom: 25px;
    min-width: 280px;
    min-height: 45px;
    border: 1px solid #015252;
}
.order-quentions button{
    margin-bottom: 25px;
    min-width: 280px;
    min-height: 45px;
    border: none;
}
button{
    background-color: #015252;
    color: white;
}
button:hover{
    background-color: #fff;
    color: #015252;
    transition-duration: 0.5s;
}
footer{
    background-color: #131316;
    color: white;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-top: 40px;
}
.footer h3{
    padding-left: 65px;
}
.social{
    display: flex;
    flex-direction: row;
    margin-left: -100px;
    padding-top: 15px;
}
.social p{
    padding-left: 100px;
}
.social a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.social a:hover{
    color: rgb(45, 145, 45);
    transition-duration: 0.5s;
}
.text-footer{
    text-align: center;
    font-weight: 500;
}