@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
header{
    background-image: url(../img/back2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.logo{
    max-width: 120px;
    max-height: 120px;
}
.a-nav{
    padding-right: 220px;
}
.a-nav a{
    padding-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 24px;
}
.a-nav a:hover{
    color: rgb(25, 133, 122);
    transition-duration: 0.5s;
}
.slang{
    text-align: right;
    /* max-width: 840px; */
    padding-top: 20px;
    justify-content: flex-end;
}
.slang-title{
    font-size: 82px;
    font-weight: 600;
    color: white;
    padding-right: 220px;
    padding-bottom: 80px;
}
.slang-title:hover{
    color: turquoise;
    transition-duration: 0.5s;
}
.about{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.about-mini{
    max-width: 70%;
    margin-left: 220px;
    text-align: center;
}
.about-mini h2{
    font-size: 56px;
    font-weight: 600;
    padding-bottom: 25px;
}
.about-mini p{
    text-align: justify;
    font-size: 20px;
}
.about-mini p span{
    font-weight: 800;
}
.video-main{
    margin-left: 180px;
    padding-top: 100px;
}
.gif-main{
    max-width: 980px;
    max-height: 460px;
    min-width: 980px;
    min-height: 460px;
}
footer{
    background-color: #131316;
    color: white;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-top: 40px;
}
.footer h3{
    padding-left: 65px;
}
.social{
    display: flex;
    flex-direction: row;
    margin-left: -100px;
    padding-top: 15px;
}
.social p{
    padding-left: 100px;
}
.social a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.social a:hover{
    color: rgb(45, 145, 45);
    transition-duration: 0.5s;
}
.text-footer{
    text-align: center;
    font-weight: 500;
}
    